/* -------------------------------------------------
--  This file contains styles for index.html page. --
---------------------------------------------------*/
#intro-section {
  background: url('../img/gulp-cover.png') ;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-text {
  position: relative;
  top: 200px;
  margin-left: 100px;
  h1 {
    color: white;
    font-size: 2rem;
    margin: 0;
  }
  p {
    color: white;
    font-size: 2rem;
  }
}

.sample-elements {
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}